<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/my.css">
</head>
<body>
<h2>     Sign up for our course      </h2>

<table border="1" align = "center">
    <tr>
        <td width = "25%">&nbsp;</td>
        <td width = "50%">&nbsp;

        <form action="/signup/" method="post">
            {% csrf_token %}



<table border="5" cellpadding="1" cellspacing="1">
	<tbody>
		<tr>
			<td><label for="">Username</label></td>
			<td align = "left"><input type="text" id="username" name="username" placeholder="Create a user name(only letters and numbers)" required></td>
		</tr>

		<tr>
			<td><label for="">First Name</label></td>
			<td><input type="text" id="fname" name="fname" placeholder="Enter your first name" required></td>
		</tr>

        <tr>
			<td><label for="">Last Name</label></td>
			<td><input type="text" id="lname" name="lname" placeholder="Enter your last name" required></td>
		</tr>

        <tr>
			<td><label for="">Email Address</label></td>
			<td><input type="text" id="email" name="email" placeholder="Enter your email" required></td>
		</tr>

        <tr>
			<td><label for="">Password</label></td>
			<td><input type="text" id="pass1" name="pass1" placeholder="Enter your password" required></td>
		</tr>

        <tr>
			<td><label for="">Confirm Password</label></td>
			<td><input type="text" id="pass2" name="pass2" placeholder="Confirm your password" required></td>
		</tr>
        <tr>
			<td></td>
			<td><button type="submit">Sign up</button></td>
		</tr>


	</tbody>
</table>





        </form>

        </td>
        <td width = "25%">&nbsp;</td>
    </tr>
</table>
</body>
</html>